@import "tailwindcss";

@theme {
  --color-primary: #031b4e;
  --color-primaryHover: #02123a;
  --color-second: #00bde0;
  --color-secondHover: #00a1be;
}

html , body {
  overflow-x: hidden;
}

.cardcontainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-mask-image: url('/mask2.svg');
  mask-image:  url('/mask2.svg');
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  -webkit-mask-image: url('/inverted.svg');
  mask-image: url('/inverted.svg');
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}
